VITE_CHAIN_ID=31612
VITE_CHAIN_NAME=Mezo Mainnet
VITE_RPC_URL=https://rpc-http.mezo.boar.network
VITE_EXPLORER_NAME=Explorer
VITE_EXPLORER_URL=https://explorer.mezo.org
VITE_NATIVE_CURRENCY_NAME=Bitcoin
VITE_NATIVE_CURRENCY_SYMBOL=BTC

VITE_TOKEN_BTC_ADDRESS=0x7b7C000000000000000000000000000000000000
VITE_TOKEN_BTC_SYMBOL=BTC
VITE_TOKEN_BTC_DECIMALS=8

VITE_TOKEN_MEZO_ADDRESS=0x7B7c000000000000000000000000000000000001
VITE_TOKEN_MEZO_SYMBOL=MEZO
VITE_TOKEN_MEZO_DECIMALS=18

VITE_TOKEN_MUSD_ADDRESS=0xdD468A1DDc392dcdbEf6db6e34E89AA338F9F186
VITE_TOKEN_MUSD_SYMBOL=MUSD
VITE_TOKEN_MUSD_DECIMALS=18

VITE_TOKEN_MCBBTC_ADDRESS=0x6a7CD8E1384d49f502b4A4CE9aC9eb320835c5d7
VITE_TOKEN_MCBBTC_SYMBOL=mcbBTC
VITE_TOKEN_MCBBTC_DECIMALS=8

VITE_TOKEN_MUSDC_ADDRESS=0x04671C72Aab5AC02A03c1098314b1BB6B560c197
VITE_TOKEN_MUSDC_SYMBOL=mUSDC
VITE_TOKEN_MUSDC_DECIMALS=6

VITE_TOKEN_MUSDT_ADDRESS=0xeB5a5d39dE4Ea42C2Aa6A57EcA2894376683bB8E
VITE_TOKEN_MUSDT_SYMBOL=mUSDT
VITE_TOKEN_MUSDT_DECIMALS=6

VITE_TOKEN_MSOLVBTC_ADDRESS=0xa10aD2570ea7b93d19fDae6Bd7189fF4929Bc747
VITE_TOKEN_MSOLVBTC_SYMBOL=mSolvBTC
VITE_TOKEN_MSOLVBTC_DECIMALS=18

VITE_VEBTC_ADDRESS=0x3D4b1b884A7a1E59fE8589a3296EC8f8cBB6f279
VITE_VEMEZO_ADDRESS=0xb90fdAd3DFD180458D62Cc6acedc983D78E20122
